<!DOCTYPE html>
<html>
    
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" context="IE=edge,chrome=1">
        <title>DotVotingJs</title>
        <meta name="description" content="DotVotingJs">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/ico" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>
    
    <body>
    
    <div class="main">
            <div class="menu">
                
            </div>
            <div class="content">
                
            </div>
    </div>
    
    
        <script src="/lib/requirejs/require.js" type="application/javascript"></script>
        <script src="/dotvoting.js" type="application/javascript"></script>
        
    </body>

</html>